<h1>My tournaments</h1>


<div id='calendar' data-tournaments="<%= @tournaments.map{|tournament| tournament.data_for_calendar}.to_json %>"></div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>



  <%= link_to "ADD TOURNAMENT", tournaments_path, class: 'add-tournament-btn' %>
  
