<h1>Dashboard</h1>


<div class="container-graph">
  <div class="text-2xl mb-2 text-center">
    Evolution of the monthly results over the season in dollars ($)
  </div>
  <canvas id="chartEarnings" width="900" height="300">

  </canvas>
</div>

<!-- <canvas id="chartForecasts" width="900" height="250">

</canvas> -->

<!-- Total earnings = <%= @earnings.group_by {|e| e.date.beginning_of_month}
                        .transform_values {|v| v.pluck(:real_amount).reduce(:+)}
                        .to_a
                        .sort_by(&:first)
                        .last(12)
                        .map(&:second)
                        .reduce(:+) %>

Total expenses = <%= @expenses.group_by {|e| e.date.beginning_of_month}
                        .transform_values {|v| v.pluck(:amount).reduce(:+)}
                        .to_a
                        .sort_by(&:first)
                        .last(12)
                        .map(&:second)
                        .reduce(:+) %> -->