<h1>Dashboard</h1>

<h1>Earnings (forecasted)</h1>
  <% @earnings.each do |earning| %>
    <%= earning.forecast_amount %>
  <% end %>

<h2>Expenses (realised)</h2>
  <% @expenses.each do |expense| %>
    <%= expense.amount %>
  <% end %>



<!-- <canvas id="chartExpense"  width="400" height="400"> 

</canvas> -->
