<!-- <h1>Dashboard</h1> -->

<div class="graphs-container">

  <div class="season-balance">
    <h3>Season balance</h3>
    <hr>
    <p> Total earnings </p>
    <div class="income">
      <p> +$<%= @earnings.group_by {|e| e.date.beginning_of_month}
      .transform_values {|v| v.pluck(:real_amount).reduce(:+)}
      .to_a
      .sort_by(&:first)
      .last(12)
      .map(&:second)
      .reduce(:+) 
      .to_s(:delimited) %> </p>
    </div>

    <hr>

    <p> Total expenses </p>
    <div class="expense">
      <p> -$<%= @expenses.group_by {|e| e.date.beginning_of_month}
        .transform_values {|v| v.pluck(:amount).reduce(:+)}
        .to_a
        .sort_by(&:first)
        .last(12)
        .map(&:second)
        .reduce(:+) 
        .to_s(:delimited) %> </p>
    </div>



  </div>

  <div class="donut">
    <canvas id="chartExpenses" width="900" height="300">
    </canvas>
  </div>
</div>

<div class="container-graph">
  <div class="text-2xl mb-2 text-center">
    Evolution of the monthly results over the season in dollars ($)
  </div>
  <canvas id="chartEarnings" width="900" height="300">

  </canvas>
</div>