<div class="graphs-container">

  <div class="season-balance">
    <p> Total earnings </p>
    <div class="income">
      <p> <strong>+<%= current_user.total_earnings.to_s(:delimited) %>$</p></strong>
    </div>

    <hr>

    <p> Total expenses </p>
    <div class="expense">
      <p> <strong> -<%= current_user.total_expenses.to_s(:delimited) %>$</strong>
      </p>
    </div>
    <hr>
    <p> Season balance </p>
   <strong> <h7> <%= (current_user.total_earnings - current_user.total_expenses).to_s(:delimited) %>$</h7></strong>
    
</div>

<div class="donut season-balance">
  <div class="text-2xl text-center">
    <h4>Repartition of the expenses ($)</h4>
  </div>
  <canvas id="chartExpenses" width="600" height="300">
  </canvas>
</div>
</div>

<div class="container-graph">
  <div class="text-2xl text-center">
    <h4>Evolution of the monthly results over the season ($)</h4>
  </div>
  <div>
    <canvas id="chartEarnings" width="900" height="300">

    </canvas>
  </div>
</div>