// Define variables for your color scheme
$my-blue: #0285C1;
$my-light-gray: #F7FBFF;
$my-dark-blue: #033860;
$my-yellow: #FFD400;
$blue-calendar: #0a75d8;
$my-red: #fd5e53;
$my-green: #21bf73;
$my-yellow-2: #F9C802;

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
