.photos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  .avatar {
    width: 100px;
    height: 100px;
  }
}

.contact {
  margin-top: 33vh;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }
// @media (max-width: 768px) {

// }


@media (max-width: 576px) {
  .photos {
    .avatar {
      width: 80px;
      height: 80px;
    }
  }

  .contact {
    margin-top: 25vh;
  }
}
