.container-graph {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  font-weight: bold;
  position: relative;
}

.season-balance {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px 15px 20px;
  font-weight: bold;
  width: 350px;
  h4 {
  text-align: center;
  }
}

.income {
  text-align: center;
  color: $my-green;
  font-size: 22px;
}

.expense {
  text-align: center;
  color: $my-red;
  font-size: 22px;
}

.graphs-container {
  display: flex;
  justify-content: space-between;
}

.donut.season-balance {
  position: relative;
  height: 39vh;
  width: 50vw;
}

