.container-graph {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  position: relative;
}

.season-balance {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px 15px 20px;
  width: 350px;
}

.income {
  text-align: center;
  color: $my-green;
  font-size: 20px;
}

.expense {
  text-align: center;
  color: $my-red;
  font-size: 20px;
}

.graphs-container {
  display: flex;
  justify-content: space-between;
  h7 {
    text-align: center !important;
    color: $my-dark-blue;
    font-size: 20px;
    display: block;
  }
}

.donut.season-balance {
  position: relative;
  height: 45vh;
  width: 50vw;
}

h4 {
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  margin-bottom: auto;
  }

h5 {
  text-align: end;
  font-size: 16px;
  font-family: Poppins;
  margin-bottom: auto;
  }

  p {
    font-family: Poppins;
  }

  #chartExpenses {
    cursor: pointer;
  }

  #chartEarnings {
    cursor: pointer;
  }