// Specific CSS for your home-page
.container-image-home {
  color: $my-light-gray;
}

#pages-home .container {
  display: contents;
}

.bouton {
  margin-top: 40px;
}

#pages-home .content-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: $my-dark-blue;
}

.logo-ama {
  vertical-align: middle;
  border-style: none;
  height: 80px;
  opacity: 0.95;
}

.container-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 15px;
}

.banner-home {
  background-size: cover;
  background-position: center;
  padding: 75px 30px 75px 113px;
}

.banner-home h1 {
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.players-photos {
  display: flex;
  align-items: center;
    img {
    width: 280px;
    height: 480px;
  }
}






