// Specific CSS for your home-page
.container-image-home {
  color: $my-light-gray;
}

#pages-home .content-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: $my-blue;
}

.logo-ama {
  vertical-align: middle;
  border-style: none;
  height: 80px;
  opacity: 0.95;
}

.container-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 15px;
}

// .form-post #bottom-card {
//   margin-left: 0;
// }

.form-post-home {
  background: #F7FBFF;
  padding: 11px 27px 3px;
  border-radius: 6px;
  width: 210px;
  margin-top: 50px;
  margin-left: 119px;
  opacity: 0.88;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  color: white;
  
  h1 {
    text-align: center;
    font-size: 20px;
    color: #033860;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  p {
    text-align: center;
    font-size: 12px;
    color: #033860;
  }
}

.form-post-home:hover {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.34);
  transform:scale(1.05);
}

.nom-de-ta-classe {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.d-flex {
  display: flex !important;
  justify-content: space-evenly;
}

.d-flex #bottom-card {
  display: flex !important;
  justify-content: center;
}

.form-post-home-bottom {
  background: #F7FBFF;
  padding: 8px 25px 0px;
  border-radius: 6px;
  width: 210px;
  margin-top: 56px;
  margin-left: 91px;
  opacity: 0.88;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  color: white;
  
  h1 {
    text-align: center;
    font-size: 20px;
    color: #033860;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  p {
    text-align: center;
    font-size: 12px;
    color: #033860;
  }
}

.form-post-home-bottom:hover {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.34);
  transform:scale(1.05);
}


