// Specific CSS for your home-page
.container-home {
  color: $my-light-gray;
}

#pages-home .content-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: $my-blue;
}

.container-image-home {
  background-size: 300px;
  background-position: center;
  height: 46%;
  width: 285px;
}