.earning-status p {
  font-size: 20px;
}

.earning-container .tournament-card {
  width: 50vw;
}

.earning-status i {
  font-size: 35px;
  margin-left: 15px;
  height: 2em;
}

.earning-status {
  width: 50vw;
}

.validate {
  display: flex;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
