.earning-status p {
  font-size: 20px;
}


.earning-status i {
  font-size: 35px;
  margin-left: 15px;
  height: 2em;
  color: $my-dark-blue;
}

.earning-status {
  width: 50vw;
  margin-left: 15px;
}

.validate {
  display: flex;
  align-items: center;
  color: $my-dark-blue;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  padding: 20px;
  margin-top: 14px;
  margin-bottom: 18px;
  padding-left: 5px;
}

.filter-btn {
  display: inline-block;
  background-color: white;
  color: $my-dark-blue;
  border-radius: 30px;
  padding: 0 20px;
  font-size: 20px;
  margin-right: 4px;
  transition: 0.5s ease;
  border: 1px solid $my-dark-blue;
  min-width: 150px;
  text-align: center;


  &:hover {
    background-color: $my-dark-blue;
    color: white;
    transition: 0.5s ease;
  }
}

.filters {
  .active {
    background-color: $my-dark-blue;
    color: white;
 }
}

.waiting {
  color: gray;
}
