.earning-status p {
  font-size: 20px;
}


.earning-status i {
  font-size: 35px;
  margin-left: 15px;
  height: 2em;
  color: $my-dark-blue;
}

.earning-status {
  width: 50vw;
  margin-left: 15px;
}

.validate {
  display: flex;
  align-items: center;
  color: $my-dark-blue;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  padding: 20px;
  margin-top: 14px;
  margin-bottom: 18px;
  padding-left: 5px;
}

.filter-btn {
  display: inline-block;
  background-color: white;
  color: $my-dark-blue;
  border-radius: 30px;
  padding: 4px 20px;
  font-size: 15px;
  margin-right: 4px;
  transition: 0.5s ease;
  border: 1px solid $my-dark-blue;
  min-width: 120px;
  text-align: center;

  &:hover {
    background: linear-gradient(153deg, rgba(3,56,96,1) 0%, rgba(5,80,136,0.8057598039215687) 50%, rgba(20,101,163,0.8169642857142857) 100%);
    color: white;
    transition: 0.5s ease;
  }
}

// .manage-btn {
//     padding: 15px;
//     background: white;
//     color: $my-dark-blue;
//     // font-weight: lighter;
//       transition: 0.5s ease;
//     &:hover {
//       background: white;
//       color: $my-dark-blue;
//       transition: 0.5s ease;
//     }
//   }

.filters {
  .active {
    background: linear-gradient(153deg, rgba(3,56,96,1) 0%, rgba(5,80,136,0.8057598039215687) 50%, rgba(20,101,163,0.8169642857142857) 100%);
    color: white;
 }
}

.waiting {
  color: gray;
}

.manage-btn {
  border-radius: 10px;
  border: none;
  color: $my-dark-blue;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin: 0px 40px;
  background: white;
  border: 1px solid;
    &:hover {
      color: $my-dark-blue;
      text-decoration: none;
      background: white;
    }
 }
 .manage-btn span {
   cursor: pointer;
   display: inline-block;
   position: relative;
 }
 .manage-btn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: 0;
   right: -20px;
   transition: 0.5s;
 }
 .manage-btn:hover span {
   padding-right: 25px;
 }
 .manage-btn:hover span:after {
   opacity: 1;
   right: 0;
 }
