.show-tournament-card {
  border-radius: 10px;
  width:100%;
  height: max-content;
  margin:10px;
  display:inline-block;
  background-size:cover;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  overflow:hidden;
  padding: 15px;
}

.sticky-top {
  top: 7em;
}

em {
  opacity: 0.7;
}

.tournament-logo {
  width: 60px;
  position: absolute;
  right:85px;
  top:25px;
  background-color: rgba(247,251,255,0.7);
  border-radius: 10px;
  padding: 0px 10px;
}

.prize-money-choice {
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #E8E4E1;
  }
  &.active {
    background-color: $my-dark-blue;
    color: white;
  }
}

