#expense-booking-form {
  height: 470px;
  position: sticky;
  top: 50px;
}

.card-expense {
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.suggestions {
  display: block;
}

.container-map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.row {
  width: 700px;
  height: 300px;
}
