#expense-booking-form {
  height: 280px;
  width: 30vw;
}

#expense {
  .card-expense {
    top: 30px !important;
    position: sticky !important;
    position: -webkit-sticky !important;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
}


.suggestions {
  display: block;
  width: 48vw;
}

.container-map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.display-map {
  width: 100%;
  height: 300px;
}

hr {
  margin: 0;
}

#expense-card {
  position: absolute;
  bottom: 25px;
}

.title-card {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  i {
    font-size: 20px;
    color: $my-dark-blue;
  }
}
