<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path @tournament.photo.key%>');" >
    <div class="container-banner">
      <div class="row">
        <h1><%= @tournament.name %></h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-end">
      <div class="add-tournament-btn">Add Tournament</div>
    </div>
  </div>

  <script> </script>
</div>
