// Form design
.form-post {
  background: white;
  display: inline-block;
  padding: 25px 50px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  border: 4px solid white;
  margin: 37px 50px 0px 0px;
  width: 480px;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $my-dark-blue;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .btn {
  width: 75%;
  background: #FFD400;
  color: $my-dark-blue;
  display: inline-block;
  font: 400 14px Poppins,sans-serif;
  border: 1px solid transparent;
  border-radius: 30px;
  line-height: 40px;
  white-space: nowrap;
  margin-top: 13px;
  margin-bottom: 0;
  margin-left: 46px;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .1em;
  text-transform: uppercase;
  height: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    background-color: #fff;
    color: $my-dark-blue;
    border: 1px solid #FFD400;
    }
  }
}
.form-control:valid:focus {
  border-color: #ffd400;
  box-shadow: 0 0 0 0.2rem rgba(255, 212, 0, 0.1);
}

.form-control.is-valid {
  background: none;
  border-color: gray;
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

  .form-post {
    width: 60vw;
    margin: auto;
  }

}


@media (max-width: 576px) {
  .form-post {
    padding: 0;
    box-shadow: none;
    border: none;
    margin: 0;
    width: 100vw;
    padding: 10%;
  }
}
