// Form design
.form-post {
  background: white;
  display: inline-block;
  padding: 25px 50px 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  border: 4px solid white;
  margin: 6px 50px 0px -50px;
  width: 480px;
  
  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: $my-dark-blue;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .btn {
  width: 75%;
  background: #FFD400;
  color: #fff;
  display: inline-block;
  font: 400 14px Poppins,sans-serif;
  border: 1px solid transparent;
  border-radius: 30px;
  line-height: 40px;
  white-space: nowrap;
  margin-top: 13px;
  margin-bottom: 0;
  margin-left: 46px;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .1em;
  text-transform: uppercase;
  height: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #FFD400;
    border: 1px solid #FFD400;
    }
  }
}
