.add-tournament-btn {
  background: #FFD400;
  color: #fff;
  display: inline-block;
  font: 400 14px Poppins,sans-serif;
  border: 1px solid transparent;
  border-radius: 30px;
  line-height: 40px;
  white-space: nowrap;
  // touch-action: manipulation;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 30px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .1em;
  text-transform: uppercase;
  height: 40px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &:hover {
    background-color: #fff;
    color: #FFD400;
    border: 1px solid #FFD400;
  }
}

