#calendar-wrapper {
  height: 80vh;
  position: relative;
  .add-tournament-btn {
    position: absolute;
    top: -11px;
    right: 176px;
  }
}

#calendar {
  .fc-widget-header {
    font-family: $body-font;
    font-weight: lighter;
  }
  .fc-prev-button {
    background: rgba(3,56,96,0.9);
    border: none;
    &:hover {
      background: white;
      color: $my-dark-blue;
      transition: 0.3s ease;
      border: 1px solid $my-dark-blue;
    }
  }
  .fc-next-button {
    background: rgba(3,56,96,0.9);
    border: none;
    &:hover {
      background: white;
      color: $my-dark-blue;
      transition: 0.3s ease;
      border: 1px solid $my-dark-blue;
    }
  }
  .fc-today-button:disabled {
    background: white;
    color: $my-dark-blue !important;
    border: 1px solid $my-dark-blue;
  }
  .fc-today-button:not(:disabled) {
    background: rgba(3,56,96,0.9);
    border: none;
    &:hover {
      background: #164f84;
      transition: 0.3s ease;
    }
  }
  .fc-day-grid {
    font-family: $body-font;
    font-weight: lighter;
  }
  .fc-day-grid-event {
    background: rgba(3,56,96,0.9);
    font-size: 18px;
    padding-left: 10px;
    border: none;
    color: white;
    transition: 0.5s ease;
    &:hover {
      transition: 0.5s ease;
      background: #164f84;
    }
  }
}
