#calendar-wrapper {
  height: 90vh;
}

#calendar {
  .fc-widget-header {
    font-family: $body-font;
    font-weight: lighter;
  }
  .fc-prev-button {
    background: $my-dark-blue;
    &:hover {
      opacity: 0.8;
      transition: 0.3s ease;
    }
  }
  .fc-next-button {
    background: $my-dark-blue;
    &:hover {
      opacity: 0.8;
      transition: 0.3s ease;
    }
  }
  .fc-today-button:disabled {
    background: $my-dark-blue;
  }
  .fc-today-button:not(:disabled) {
    background: $my-dark-blue;
    &:hover {
      opacity: 0.8;
      transition: 0.3s ease;
    }
  }
  .fc-day-grid {
    font-family: $body-font;
    font-weight: lighter;
  }
  .fc-day-grid-event {
    background: #0a75d8;
    font-size: 18px;
    padding-left: 10px;
    border: none;
    color: white;
    transition: 0.5s ease;
    &:hover {
      transition: 0.5s ease;
      background: #164f84;
    }
  }
}

.nav-link {
  font-size: 30px;
  color: $my-dark-blue;
  &:hover {
    transition: 0.5s ease;
    color: $my-dark-blue;
    background-color: white;

  }
}

 .nav-tabs .nav-link.active {
      color: $my-dark-blue;
      background-color: white;
  }


.nav-item a {
  color: $my-dark-blue;

}
