.content-wrapper {
  padding: 20px 25px 25px 220px;
  width: 100vw;
  overflow-x: hidden;
}

#earnings-new .content-wrapper {
  margin-top: 0px;
  min-height: 100vh;
  padding: 0 0 0 190px;
}

#expenses-new .content-wrapper {
  margin-top: 0px;
  min-height: 100vh;
  padding: 0 0 0 190px;
}

.container-fluid {
  display: flex;
  padding: 0;
}

body {
  position: relative;
}

.earning-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.container-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  padding-top: 66px;
}

.container-graph {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px 0px 15px 4px;
  margin-top: 20px;
  font-weight: bold;
}
