// Import your components CSS files here.
@import "add_earning_form";
@import "add_tournament_btn";
@import "alert";
@import "avatar";
@import "calendar";
@import "containers";
@import "flight_cards";
@import "navbar";
@import "navs";
@import "sidebar";
@import "tournament_banner";
@import "tournament_card";
@import "window_map";
@import "my_tournament_cards";
@import "timeline";
@import "validate_btn";
@import "select2";
