.mobile-navbar {
  display: none;
}

// @media (max-width: 1200px) {

// }
// @media (max-width: 992px) {

// }
// @media (max-width: 768px) {

// }


@media (max-width: 576px) {
  .mobile-navbar {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: $my-dark-blue;

    img{
      height: 44px;
    }

    .navbar-menu-btn {
      background-color: #033860;
      border: none;

      &:focus {
        background-color: #033860 !important;
        outline-style: none !important;
        box-shadow: none !important;
        border-color: transparent !important;
      }

      &:active {
        background-color: #033860 !important;
      }
    }
  }
}
