.nav-link {
  font-family: $headers-font;
  font-size: 18px;
  color: $my-dark-blue;
  &:hover {
    transition: 0.5s ease;
    color: $my-dark-blue;
    background-color: white;

  }
}

.nav-tabs {
  margin-bottom: 30px;
}

 .nav-tabs .nav-link.active {
      color: $my-dark-blue;
      background-color: white;
  }


.nav-item a {
  color: $my-dark-blue;

}
