h6 {
  font-size: 20px;
}

#sidebar {
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $my-dark-blue;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    i {
      width: 20px;
      text-align: center;
    }
}

.main {
  display: flex;
  flex-direction: column;
   &:hover {
    text-decoration: none;
   }
}

.other {
  display: flex;
  flex-direction: column;
}

a:hover {
    text-decoration: none;
}

.infos {
  display: flex;
  flex-direction: column;
  a, p {
    padding: 10px;
    margin-bottom: 0;
    color: white;
    font-size: 16px;
    p {
      margin-bottom: 0;
      color: white;
      i {
        width: 20px;
        text-align: center;
      }
    }
    &.active, p.active {
      background: $my-light-gray;
      border-radius: 10px 0 0 10px;
      color: $my-dark-blue;
      p {
        color: $my-dark-blue;
        i {
          color: $my-dark-blue;
        }
      }
    }
  }
  .collapseBudget a {
    margin-left: 13px;
    font-size:14px;
    display: block;
    padding: 5px 10px;
    color: $my-light-gray2;
  }
  a:hover {
    color: $my-yellow;
  }
  a.active {
    color: $my-dark-blue;
  }
}

i {
  color: $my-yellow;
}

i.active {
  color: $my-dark-blue;
}

.user-name {
  position: absolute;
  bottom: 30px;
  left:10px;
  em {
    opacity: 1;
    font-size: 14px;
    color: white;
  }
}

@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
}


@media (max-width: 576px) {
  #sidebar {
    display: none;
  }
}

