h6 {
  font-size: 20px;
}

#sidebar {
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: $my-dark-blue;
    color: #fff;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    i {
      width: 20px;
      text-align: center;
    }
}

.main {
  display: flex;
  flex-direction: column;
   &:hover {
    text-decoration: none;
   }
}

.other {
  display: flex;
  flex-direction: column;
}

a:hover {
    color: #b39400;
    text-decoration: none;
}

.infos {
  display: flex;
  flex-direction: column;
  a, p[data-toggle="collapse"] {
    padding: 10px;
    margin-bottom: 0;
    color: $my-yellow;
    font-size: 15px;
    cursor: pointer;
    p {
      margin-bottom: 0;
      i {
        width: 20px;
        text-align: center;
      }
    }
    &.active, p[data-toggle="collapse"].active {
      background: $my-light-gray;
      border-radius: 10px 0 0 10px;
      color: $my-dark-blue;
      p {
        color: $my-dark-blue;
        i {
          color: $my-dark-blue;
        }
      }
    }
  }
  #collapseBudget a {
    margin-left: 27px;
    font-size: 13px;
    font-style: italic;
    display: block;
    padding: 5px 10px;
  }
  #collapseTournament a {
    margin-left: 27px;
    font-size: 13px;
    font-style: italic;
    display: block;
    padding: 5px 10px;
  }
}

i {
  color: $my-yellow;
}

i.active {
  color: $my-dark-blue;
}

.user-name {
  position: absolute;
  bottom: 30px;
  left:10px;
  em {
    opacity: 1;
    font-size: 14px;
  }
}
