.card-container
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tournament-card
{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  border-radius: 10px;
  width:400px;
  height:200px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';

}
.tournament-card img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tournament-card .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tournament-card h1
{
  font-size: 30px;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tournament-card h2
{
  font-size: 15px;
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tournament-card p
{
  font-size: 15px;
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tournament-card:hover
{
  background: linear-gradient(141deg, rgba(13,93,226,1) 0%, rgba(32,75,231,0.7245273109243697) 50%, rgba(11,142,230,0.5760679271708684) 100%);
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tournament-card:hover img
{
  opacity: 0.2;
}
.tournament-card:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tournament-card:hover span
{
  opacity:1;
  transform:translateY(0px);
}

@media (max-width: 1000px) {
  .card-container {
   flex-direction: column;
    width:400px;
  }
}
