.card-container {
  // padding: 0px 50px;
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 15px;
}

.tournament-card {
  border: 4px solid white;
  border-radius: 10px;
  width:100%;
  height:180px;
  margin-bottom:10px;
  // background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.24);
  overflow:hidden;
  color:white;
}

.tournament-card .text {
/*   z-index:99; */
  position:absolute;
  padding:20px;
}

.tournament-card h1 {
  font-size: 30px;
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  transition: 0.6s ease;
}

.tournament-card h2 {
  font-size: 15px;
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
  transform: translateX(200px);
}

.tournament-card p {
  font-size: 15px;
  font-weight:300;
  margin:8px 0 0 0;
  line-height: 25px;
  transform: translateX(-200px);
  transition-delay: 0.2s;
}

.animate-text {
  opacity:0;
  transition: all 0.6s ease-in-out;
}

.tournament-card:hover {
  box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.34);
  transform:scale(1.05);

  h1 {
    font-size: 24px;
    transition: 0.6s ease;
  }
}

.tournament-card:hover img {
  opacity: 0.2;
}

.tournament-card:hover .animate-text {
  transform:translateX(0);
  opacity:1;
}

@media (max-width: 1000px) {
  .card-container {
   flex-direction: column;
    width:400px;
  }
}
