.banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid white;
  box-shadow: 1px 1px 30px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 2px 1px black;
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: 1.5px;
}

.banner p {
  font-size: 16px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: left;
}

.container-banner {
  padding: 35px;
  margin-left: 35px;
  width: 100%;
  height: 100%;
}

.banner h5 {
  color: white;
}
