.window-image {
  background-image: url("https://cdn.radiofrance.fr/s3/cruiser-production/2020/01/9154cc93-7e4e-4ec3-ae74-43f134749198/920x517_panneeu_hotel-c-bertlam.jpg");
  background-size: cover;
  width: 70px;
  height: 70px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
